{% extends example_base %}

{% block title %}
Example 0: Waveshaping (proof of concept)
{% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="css/000_proof_of_concept.css" type="text/css"/>
{% endblock %}

{% block example %}
<section id="introduction">
	<h1>Sine Wave Generation</h1>

	<p>
		Sine waves are the fundamental building blocks of computer music. Fourier theory states that any complex signal can be expressed as a sum of a series of simple sine waves<span class="citation" reference=0></span>. This simple concept allows us to represent the sound of an entire orchestra in a single wave form. There are a number of ways to generate sine waves, each with trade-offs in quality and efficiency. Which one you choose depends on the needs of your software.
	</p>
</section>
<section id="section_1">
	<h2>Direct Sine Wave Generation</h2>

	<p>
		The mathematical formula for expressing a sine wave as a function of time is: <span class="latex">y(t) = A\sin(2 \pi f t + \varphi) = A\sin(\omega t + \varphi)</span><span class="citation" reference=1></span>. This formula can be used to directly render a sine wave to an audio buffer.
	</p>

	<div class="audio_example" id="sin_wave_formulaic">
		<input type="range" id="frequency"></input>
	</div>
</section>
{% endblock %}

{% block references %}
<li>
	<a href="http://cns-alumni.bu.edu/~slehar/fourier/fourier.html">
		An Intuitive Explanation of Fourier Theory
	</a>
</li>
<li>
	<a href="http://en.wikipedia.org/wiki/Sine_wave">
		Sine wave
	</a>
</li>
{% endblock %}

{% block js_additional %}
<script type="text/javascript" src="js/000_proof_of_concept.js"></script>
{% endblock %}
