{% extends example_base %}

{% block title %}
Example 0: Waveshaping (proof of concept)
{% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="css/000_proof_of_concept.css" type="text/css"/>
{% endblock %}

{% block example %}
<section id="introduction">
	<h1>Waveshaping</h1>

	<p>
        Waveshaping is a signal processing technique that maps an input signal to an output signal through the use of a transfer function. The transfer function's domain must be well defined on the range of the output signal. The technique is useful for distortion and soft clipping, as the limit of the transfer function could approach -1 and 1 as the input signal approaches -infinity and infinity respectively.
	</p>
</section>
<section id="section_1">
    <p>
    Mathematically, waveshaping is a simple operation. It is defined as follows: <span class="latex">w(t) = f(i(t)x(t))</span> where <span class="latex">x(t)</span> is the input signal, <span class="latex">f(t)</span> is the transfer function and <span class="latex">i(t)</span> is an index function (which acts more or less as a numerical gain)<span class="citation" reference=0></span>. If <span class="latex">i(t)x(t)</span> has the range <span class="latex">[a, b]</span> then <span class="latex">f(t)</span> must be well defined on this domain.
    </p>
</section>
<section id="section_2">
    <p>
        The following is an audio example demonstrating Chebyshev polynomial waveshaping on an input signal.
    </P>
	<div class="audio_example" id="waveshaper">
        <select id="shaper_function"></select>
		<label>Transfer function:</label><canvas id="shaper" height=256 width=256></canvas>
		<label>Oscillator frequency:</label><input type="range" id="frequency"></input>
		<label>Waveshaping index:</label><input type="range" id="index"></input>
	</div>
</section>
{% endblock %}

{% block references %}
<li>
	<a href="http://en.wikipedia.org/wiki/Waveshaper">
		An Intuitive Explanation of Fourier Theory
	</a>
</li>
{% endblock %}

{% block js_additional %}
<script type="text/javascript" src="{{ static_url }}js/processors/table_oscillator_4.js"></script>
<script type="text/javascript" src="{{ static_url }}js/processors/table_function_4.js"></script>
<script type="text/javascript" src="js/000_proof_of_concept.js"></script>
{% endblock %}
